header{
    background-color: #0100c8; 
    padding-top: 1%; 
    padding-bottom: 1%; 
}

.brand-logo{
    height: 2em;
    padding-left: 55px;
}

.divColor{
    background-color: #2526d0; 
}


